.labelledValue {
  font-size: 16px;
  line-height: 24px;

  & > * + * {
    margin-left: 4px;
  }

  :first-child {
    font-weight: 500;
    color: var(--text-primary);
  }

  :last-child {
    font-weight: 400;
    color: var(--text-secondary);
  }
}
