---
import IconButton from '@/atoms/icon-button.astro';
---

<div class="p-5">
  <IconButton icon="fa6-brands:facebook-f" name="Facebook" size="small" />
  <IconButton icon="fa6-brands:github" name="GitHub" size="large" />
  <IconButton icon="fa6-brands:linkedin-in" name="LinkedIn" size="large" />
  <IconButton icon="fa6-brands:twitter" name="Twitter" size="large" />
</div>
