---
import IconButton from '@/atoms/icon-button.astro';
---

<div class:list={['p-5', 'flex', 'flex-col', 'gap-2']}>
  <IconButton icon="fa6-brands:facebook-f" size="small" href="#" />
  <IconButton icon="fa6-brands:github" size="small" href="#" />
  <IconButton icon="fa6-brands:linkedin-in" size="large" href="#" />
  <IconButton icon="fa6-brands:twitter" size="large" href="#" />
</div>
