---
import Tag from '@/atoms/tag.astro';
---

<div class="p-5">
  <Tag>Tag text</Tag>
</div>

<div class="p-5">
  <Tag><img src="/dist/assets/media-4.8c0494d4.png" alt="" width={25} class:list={['pr-2']} /> Tag with img</Tag>
</div>
