<div id="footer" class="mt-4 w-full rounded border border-gray-100 bg-gray-50 px-2 py-1 text-center text-[11px]">
  I hereby give consent for my personal data included in my application to be processed for the purposes of the
  recruitment process.
</div>
<script>
  const footer = document.getElementById('footer')!;
  const withClause = window.location.search.includes('clause');

  if (!withClause) {
    footer.remove();
  }
</script>
