---
import type { Data } from '@/types/data';
import Analytics from '@/web/analytics/analytics.astro';
import Head from './head.astro';

export interface Props extends Pick<Data['config'], 'meta' | 'i18n'> {}

const { meta, i18n } = Astro.props;
---

<!DOCTYPE html>
<html lang={i18n.locale.code} class="scroll-smooth">
  <Head meta={meta} />
  <body class="flex justify-center overflow-x-hidden bg-gray-50 dark:bg-gray-900 xl:relative xl:left-7">
    <Analytics />
    <slot />
  </body>
</html>
