---
import Icon from '@/atoms/icon';
import SectionCard from '@/atoms/section-card.astro';
import type { SkillsSection } from '@/types/skills-section';

export interface Props extends SkillsSection {}
const { props } = Astro;
---

<SectionCard>
  Skills section
  <div class="inline-flex space-x-4 ml-4">
    {
      props.skillSets.flatMap((skillSet) =>
        skillSet.skills.map(({ icon, iconColor }) => <Icon client:idle name={icon} size={24} color={iconColor} />)
      )
    }
  </div>
</SectionCard>
