---
import Divider from '@/atoms/divider.astro';
import SectionCard from '@/atoms/section-card.astro';
import Typography from '@/atoms/typography.astro';
import Testimonial from '@/organisms/testimonial.astro';
import type { Testimonial as TestimonialData, TestimonialsSection } from '@/types/testimonials-section';

export interface Props extends TestimonialsSection {
  testimonials: TestimonialData[];
}

const {
  testimonials,
  config: { title },
} = Astro.props;
---

<SectionCard>
  <Typography variant="section-title">{title}</Typography>
  <div class:list={['flex', 'flex-col']}>
    {
      testimonials.map((testimonial, index) => (
        <>
          <Testimonial testimonial={testimonial} />
          {index !== testimonials.length - 1 && <Divider />}
        </>
      ))
    }
  </div>
</SectionCard>
