---
import { SectionCard } from '@/atoms/section-card';
import { Typography } from '@/atoms/typography';
import { LabelledValue } from '@/atoms/labelled-value';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Welcome to Astro</title>
  </head>
  <body class="bg-gray-50">
    <main>
      <SectionCard>
        <Typography variant="main-title">Main title</Typography>
        <Typography variant="main-subtitle">Main subtitle</Typography>
        <Typography variant="section-title">Section title</Typography>
        <Typography variant="section-subtitle">Section subtitle</Typography>
        <Typography variant="item-title">Item title</Typography>
        <Typography variant="item-subtitle">Item subtitle</Typography>
        <Typography variant="tile-title">Tile title</Typography>
        <Typography variant="tile-subtitle">Tile subtitle</Typography>
        <Typography variant="paragraph">Paragraph</Typography>
        <LabelledValue label="Phone">+48 604 343 212</LabelledValue>
      </SectionCard>
    </main>
  </body>
</html>
