---
import { ExperienceSection } from '@/sections/experience';
import { FavoritesSection } from '@/sections/favorites';
import { MainSection } from '@/sections/main';
import { PortfolioSection } from '@/sections/portfolio';
import { SkillsSection } from '@/sections/skills';
import { TestimonialsSection } from '@/sections/testimonials';
import { data } from '../data';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{data.seo.title}</title>
    <meta name="description" content={data.seo.description} />
  </head>
  <body class="bg-gray-50">
    <main>
      <MainSection {...data.main} />
      {data.skills && <SkillsSection {...data.skills} />}
      {data.experience && <ExperienceSection {...data.experience} />}
      {data.portfolio && <PortfolioSection {...data.portfolio} />}
      {data.testimonials && <TestimonialsSection {...data.testimonials} />}
      {data.favorites && <FavoritesSection {...data.favorites} />}
    </main>
  </body>
</html>
