---
import ExperienceSection from '@/sections/experience-section.astro';
import FavoritesSection from '@/sections/favorites-section.astro';
import MainSection from '@/sections/main-section.astro';
import PortfolioSection from '@/sections/portfolio-section.astro';
import SkillsSection from '@/sections/skills-section.astro';
import TestimonialsSection from '@/sections/testimonials-section.astro';
import { data } from '../data';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{data.seo.title}</title>
    <meta name="description" content={data.seo.description} />
  </head>
  <body class="bg-gray-50">
    <main>
      <MainSection {...data.main} />
      {data.skills && <SkillsSection {...data.skills} />}
      {data.experience && <ExperienceSection {...data.experience} />}
      {data.portfolio && <PortfolioSection {...data.portfolio} />}
      {data.testimonials && <TestimonialsSection {...data.testimonials} />}
      {data.favorites && <FavoritesSection {...data.favorites} />}
    </main>
  </body>
</html>
