---
import Footer from '@/pdf/components/footer.astro';
import EducationSection from '@/pdf/sections/education-section.pdf.astro';
import ExperienceSection from '@/pdf/sections/experience-section.pdf.astro';
import MainSection from '@/pdf/sections/main-section.pdf.astro';
import PortfolioSection from '@/pdf/sections/portfolio-section.pdf.astro';
import SkillsSection from '@/pdf/sections/skills-section.pdf.astro';
import type { Data } from '@/types/data';

import data from '../data';

const sections = data.sections as Data['sections'];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>PDF preview</title>
  </head>
  <body class="flex flex-col bg-white p-[10mm] print:p-0">
    <MainSection {...sections.main} />
    {sections.skills && <SkillsSection {...sections.skills} />}
    {sections.experience && <ExperienceSection {...sections.experience} />}
    {sections.portfolio && <PortfolioSection {...sections.portfolio} />}
    {sections.education && <EducationSection {...sections.education} />}
    {data.config.pdf.footer && <Footer>{data.config.pdf.footer}</Footer>}
  </body>
</html>
