---
import type { Section } from '@/types/data';

import Typography from './typography.astro';

export interface Props {
  section: Section;
  title?: string;
}

const { section, title } = Astro.props;
---

<div id={section} class="flex flex-col gap-6 rounded-2xl bg-white p-8 shadow-md dark:bg-gray-800">
  {
    title && (
      <Typography variant="section-title" id={`${section}-heading`}>
        {title}
      </Typography>
    )
  }
  <slot />
</div>
