---
import IconButton from '@/components/icon-button.astro';
---

<div class="flex flex-col gap-2 p-5">
  <IconButton icon="fa6-brands:facebook-f" size="small" href="#" />
  <IconButton icon="fa6-brands:github" size="small" href="#" />
  <IconButton icon="fa6-brands:linkedin-in" size="large" href="#" />
  <IconButton icon="fa6-brands:twitter" size="large" href="#" />
</div>
