---
import IconButton from '@/components/icon-button.svelte';
---

<div class="flex flex-col gap-2 p-5">
  <IconButton icon="fa6-brands:facebook-f" size="small" href="#" name={'Facebook'} placement={'right'} />
  <IconButton icon="fa6-brands:github" size="small" href="#" name={'Github'} placement={'right'} />
  <IconButton icon="fa6-brands:linkedin-in" size="large" href="#" name={'LinkedIn'} placement={'right'} />
  <IconButton icon="fa6-brands:twitter" size="large" href="#" name={'Twitter'} placement={'right'} />
</div>
