---
import Icon from '@/components/icon.astro';
---

<div class="p-5">
  <!-- Available icon names here: https://icon-sets.iconify.design -->
  <!-- Colors for simple icons here: https://simpleicons.org -->
  <Icon name="simple-icons:react" size={24} color="#61DAFB" />
</div>
