---
import { Image } from '@astrojs/image/components';

import Typography from '@/atoms/typography.astro';
import type { Book, FavoriteElement, FavoriteElementVariant, Media, Person, Video } from '@/types/favorites-section';

const variantToTileWidth = {
  book: 'w-[12.5rem]',
  media: 'w-[7.66rem]',
  video: 'w-[17.33rem]',
  person: 'w-[7.66rem]',
};

const variantToWidth = {
  book: 200,
  media: 122.66,
  video: 277.33,
  person: 122.66,
};

const variantToHeight = {
  book: 260,
  media: 122.66,
  video: 156,
  person: 122.66,
};

export interface Props extends astroHTML.JSX.HTMLAttributes {
  value: FavoriteElement;
  variant: FavoriteElementVariant;
}

const { value, variant, ...props } = Astro.props;
const FavouriteTile = 'a';

const getVideoThumbnail = (url: string) => {
  return `https://img.youtube.com/vi/${url.split('/').pop()}/0.jpg`;
};

const getSrcImage = (el: FavoriteElement, elVariant: FavoriteElementVariant) => {
  if (elVariant === 'book') return (el as Book).cover;
  if (elVariant === 'video') return getVideoThumbnail((el as Video).url);
  if (elVariant === 'person' || variant === 'media') return ((el as Person) || (el as Media)).image;
  return '';
};
---

<FavouriteTile
  href={value.url}
  class:list={[
    variant,
    props.class,
    'flex',
    'group',
    'flex-col',
    'gap-3',
    'transition',
    'duration-300',
    'hover:translate-y-2',
    variantToTileWidth[variant],
  ]}
>
  <Image
    class:list={[
      'rounded-lg',
      'shadow-md',
      'object-cover',
      variant === 'person' && 'grayscale',
      'hover:grayscale-0',
      'transition',
      'duration-300',
    ]}
    src={getSrcImage(value, variant)}
    alt={(value as Book | Video | Media).title || (value as Person).name}
    width={variantToWidth[variant]}
    height={variantToHeight[variant]}
    format="webp"
  />
  <div class:list={['gap-1']}>
    <Typography class:list={['leading-5', 'hover:text-gray-900']} variant="tile-title">
      {(value as Book | Media | Video).title || (value as Person).name}
    </Typography>
    <Typography variant="tile-subtitle">
      {(value as Media).type || (value as Person).name || (value as Book).author}
    </Typography>
  </div>
</FavouriteTile>
