---
export interface Props {
  label: string;
  value: string | string[];
}

const { label, value } = Astro.props;
---

<div class="text-base">
  <span class="font-medium text-gray-700">{label}:</span>
  <span class="font-normal text-gray-500">{value}</span>
</div>
