---
export interface Props extends astroHTML.JSX.HTMLAttributes {
  label: string;
  value: string;
}

const { label, value, ...props } = Astro.props;
---

<div {...props} class:list={['text-base', props.class]}>
  <span class="font-medium text-gray-700">{label}:</span>
  <span class="font-normal text-gray-500">{value}</span>
</div>
