---
import Typography from '@/atoms/typography.astro';
import type { Person } from '@/types/favorites-section';

export interface Props {
  value: Person;
}

const {
  value: { image, name, url },
} = Astro.props;
---

<a href={url} class="flex w-full flex-col gap-3 transition duration-300 hover:translate-y-2">
  <img class="aspect-square rounded-lg object-cover shadow-md transition duration-300" src={image} alt={name} />
  <Typography variant="tile-title">
    {name}
  </Typography>
</a>
