---
import type { Section } from '@/types/data';

import Typography from './typography.astro';

export interface Props {
  section: Section;
  title?: string;
}

const { section, title } = Astro.props;
---

<div id={section} class="p-8 bg-white dark:bg-gray-800 rounded-2xl shadow-md flex flex-col gap-6">
  {
    title && (
      <Typography variant="section-title" id={`${section}-heading`}>
        {title}
      </Typography>
    )
  }
  <slot />
</div>
