---
import type { IconName } from '@/types/icon';

import Icon from './icon';

export interface Props {
  icon: IconName;
  active?: boolean;
}

const { icon, active } = Astro.props;
---

<button
  type="button"
  class:list={[
    'inline-flex justify-center items-center h-10 w-10 rounded-lg transition',
    active && 'bg-primary-600 text-white',
    !active && 'bg-white text-gray-400 hover:bg-primary-600 hover:text-white',
  ]}
>
  <Icon client:load name={icon} size={20} />
</button>
