---
export interface Props extends astroHTML.JSX.HTMLAttributes {}

const { props } = Astro;
---

<div
  {...props}
  class:list={['inline-flex items-center text-base font-medium rounded-md text-black bg-gray-100 px-2', props.class]}
>
  <slot />
</div>
