---
import Icon from '@/atoms/icon';
import type { IconName } from '@/types/icon';

export interface Props {
  name?: IconName;
  color?: string;
}

const { name, color } = Astro.props;
---

<div
  class="flex items-center w-fit h-6 px-2.5 rounded text-sm font-medium tracking-wide text-gray-700 dark:text-gray-800 bg-gray-100 dark:bg-gray-250 gap-x-1.5"
>
  <Icon client:load name={name} color={color} size={16} />
  <slot />
</div>
