---
import { Image } from '@astrojs/image/components';

import Typography from '@/atoms/typography.astro';
import type { Video } from '@/types/favorites-section';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  value: Video;
}

const { value, ...props } = Astro.props;
const VideoTile = 'a';

const getVideoThumbnail = (url: string) => {
  return `https://img.youtube.com/vi/${url.split('/').pop()}/0.jpg`;
};
---

<VideoTile
  href={value.url}
  class:list={[
    props.class,
    'video-tile',
    'flex',
    'flex-col',
    'gap-3',
    'transition',
    'duration-300',
    'hover:translate-y-2',
  ]}
>
  <Image
    class:list={['rounded-lg', 'shadow-md', 'object-cover']}
    src={getVideoThumbnail(value.url)}
    width={'auto'}
    aspectRatio={'16/9'}
    alt={value.title}
    format="webp"
  />
  <div class:list={['tile-content', 'gap-1']}>
    <Typography class:list={['leading-5', 'hover:text-gray-900']} variant="tile-title">
      {value.title}
    </Typography>
  </div>
</VideoTile>
