---
import Icon from '@/atoms/icon';
import Typography from '@/atoms/typography.astro';
import type { LevelledSkill } from '@/types/skills-section';

import SkillLevel from './skill-level.astro';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  levelledSkill: LevelledSkill;
}

const { levelledSkill, ...props } = Astro.props;
---

<div class:list={['flex', 'flex-col', 'gap-2']} {...props}>
  <div class:list={['flex', 'gap-2']}>
    <Icon client:load name="logos:react" size={20} />
    <Typography variant="tile-subtitle" class="text-gray-700">{levelledSkill.name}</Typography>
  </div>
  <SkillLevel skillLevel={levelledSkill.level} />
</div>
