---
import type { LevelledSkill } from '@/types/skills-section';

import SkillLevel from './skill-level.astro';

export interface Props extends astroHTML.JSX.HTMLAttributes {
  levelledSkill: LevelledSkill;
}

const { levelledSkill, ...props } = Astro.props;
---

<div class:list={['grid', 'grid-rows-2']} {...props}>
  <div>{levelledSkill.name}</div>
  <SkillLevel skillLevel={levelledSkill.level} />
</div>
