---
import Tag from '@/atoms/tag.astro';
import type { Tag as TagData } from '@/types/common';

export interface Props {
  skills: TagData[];
}

const { skills } = Astro.props;
---

<div class:list={['flex', 'flex-wrap', 'gap-3', 'items-center']}>
  {
    skills.map(({ name, icon, iconColor, url }) =>
      url ? (
        <a href={url} target="_blank" rel="noopener noreferrer">
          <Tag icon={icon ? { name: icon, color: iconColor } : undefined}>{name}</Tag>
        </a>
      ) : (
        <Tag icon={icon ? { name: icon, color: iconColor } : undefined}>{name}</Tag>
      )
    )
  }
</div>
