---
import Tag from '@/atoms/tag.astro';
import type { Tag as TagData } from '@/types/common';
import type { IconName } from '@/types/icon';

export interface Props {
  skills: TagData[];
}

const { skills } = Astro.props;

const getIconProps = (name?: IconName, color?: string) => {
  if (name) {
    return {
      name,
      color,
    };
  }

  return undefined;
};
---

<div class:list={['flex', 'flex-wrap', 'gap-3', 'items-center']}>
  {
    skills.map(({ name, icon, iconColor, url }) => {
      return url ? (
        <a href={url} target="_blank" rel="noopener noreferrer">
          <Tag icon={getIconProps(icon, iconColor)}>{name}</Tag>
        </a>
      ) : (
        <Tag icon={getIconProps(icon, iconColor)}>{name}</Tag>
      );
    })
  }
</div>
